.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
}
.product-name {
  /* color: blue; */
  font-weight: 600;
}
.product-img {
  padding-right: 20px;
}
.main-button {
  background-color: #f0c14b;
  width: 180px;
  height: 30px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #a88734;
  font-weight: 600;
  cursor: pointer;
}
